.about-container {
    display: flex;
    padding-top: 200px;
    scroll-margin-top: 20px;
    padding-bottom: 200px;
}
.left-div {
    flex: 1;
    text-align: left;

}

.left-div h1 {
    font-size: 3rem;
    color: var(--dark-seed-green);
    padding-left: 20px;
}

.right-div {
    flex: 2;
    padding-left: 20px;
    padding-top: 32px;
    text-align: left;

}

.right-div p {
    font-weight: 400;
    font-size: 1.15rem;
    color: var(--seed-black);
}

@media (max-width: 390px) {
    .about-container {
        flex-direction: column;
        padding-top: 100px;
    }

    .left-div h1 {
        font-size: 2rem;
        text-align: center;
    }

    .right-div {
        padding-left: 20px;
        padding-top: 20px;
    }
    
    .right-div p {
        font-weight: 400;
        font-size: 0.85rem;
        color: var(--seed-black);
    }
}