#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

:root {
  color-scheme: light only;

  --light-green: #def2c4;
  --kiwi-green: rgb(168, 224, 95); /* 		Primary buttons, highlights  */
  --flesh-green: #628B35; /* 		Backgrounds or hover effects */
  --dark-seed-green: #365B2A; /* Headings, accents, or text on light bg */
  --seed-black: #1C1C1C; /* 	Text, nav links, or contrast buttons */
  /* blue and white color scheme */
  --dark-blue: #0892A5;
  --light-blue: #B3D9E0;
  --soft-white: #f8f8f3; /* 	Section backgrounds */
  --cocoa-brown: #3A3633;
  --sand-brown: #896646;


}
html {
  scroll-behavior: smooth;
}

body  {
  font-family: "Poppins", sans-serif;
  background-color: var(--soft-white);
 
}

.nav-container {
  position: sticky;
  top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2.5rem;
  font-size: 1.15rem;
  background-color: var(--light-blue);
  border-radius: 10rem;
  z-index: 3;
}

.nav-left {
  display: flex;
  align-items: center;
}

.logo {
  height: auto;
  padding: 0;
}
.logo img {
  width: 5vw;
  height: auto;
  background-color: var(--dark-blue);
  border-radius: 55px;
  display: block;
}

.nav-right {
  display: flex;
  gap: 3rem;
}

.nav-container a {
  font-weight: 600;
  position: relative;
  color: var(--dark-blue);
  transition: color 0.5s ease;
}

.nav-container a::after {
  content: '|';
  position: absolute;
  right: -1.75rem;
  color: var(--dark-blue);
}

.nav-container a:last-child::after {
  content: '';
}

.nav-container a:hover {
  color: var(--cocoa-brown);
}
 
@media (max-width: 390px) {
  .nav-container {
    font-size: 0.75rem;
    padding: 1rem 1.5rem;
  }

  .nav-container a::after {
    right: -1.15rem;
  }

  .nav-right {
    gap: 2rem;
  }
  

  .logo img {
    width: 7vw;
  }


}
