#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  --kiwi-green: rgba(168, 224, 95, 0.3); /* 		Primary buttons, highlights  */
  --flesh-green: #628B35; /* 		Backgrounds or hover effects */
  --dark-seed-green: #365B2A; /* Headings, accents, or text on light bg */
  --seed-black: #1C1C1C; /* 	Text, nav links, or contrast buttons */
  --soft-white: #F9FFF3; /* 	Section backgrounds */

}

html {
  scroll-behavior: smooth;
}

body  {
  font-family: "Poppins", sans-serif;
  background-color: var(--soft-white);
}

.nav-container {
  position: sticky;
  top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2.5rem;
  font-size: 1.15rem;
  background-color: var(--kiwi-green);
  border-radius: 60px;
}

.nav-left {
  display: flex;
  align-items: center;
}

.logo {
  height: auto;
  padding: 0;
}
.logo img {
  width: 5vw;
  height: auto;
  background-color: var(--flesh-green);
  border-radius: 50px;
  display: block;
}

.nav-right {
  display: flex;
  gap: 3rem;
}

.nav-container a {
  font-weight: 600;
  position: relative;
  color: var(--dark-seed-green);
}

.nav-container a::after {
  content: '|';
  position: absolute;
  right: -1.75rem;
  color: var(--dark-seed-green);
}

.nav-container a:last-child::after {
  content: '';
}

.nav-container a:hover {
  color: var(--seed-black);
}



@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
