.landing-container {
    display: flex;
    flex-wrap: wrap;
    padding-top: 200px;
    padding-bottom: 150px;
    scroll-margin-top: 10px;
}

.intro-container {
    display: flex;
    flex-direction: column;
    text-align: left;
    flex: 2;
    padding-left: 20px;
    color: var(--cocoa-brown);
}

.intro-container h1 {
    margin: 0;
    font-size: 4rem;
    color: var(--dark-blue);
}

.intro-container h3 {
    font-weight: 500;
    color: var(--sand-brown);
    font-size: 1.15rem;
}


.image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1.5;
}


.kiwi-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55%;
  }
  
  .sonny-angel {
    width: 100%;
    height: auto;
    object-fit: contain;
    display: block;
    z-index: -1;
  }
  

@media (max-width: 500px) {
    .landing-container {
        flex-direction: column;
        padding-top: 80px;
    }

    .intro-container {
        padding-bottom: 10px;
    }

    .intro-container h1 {
        font-size: 2.75rem;
    }

    .intro-container h3 {
        font-size: 0.8rem;
    }

    .intro-container p {
        padding-top: 10px ; 
        font-size: 0.65rem;
    }

    .kiwi-wrapper {
        padding-top: 10px;
        width: 50%;
      }
}