.lesson-container {
    display: flex;
    flex-wrap: wrap;
    padding-top: 200px;
    scroll-margin-top: 300px;
    padding-bottom: 150px;
}

.header {
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-left: 20px;
}

.header h1 {
    font-size: 3rem;
    margin-bottom: 0;
    color: var(--dark-blue);
}
.header p {
    font-weight: 500;
    font-size: 1rem;
    color: var(--sand-brown);
}

.main-container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 200px;
}

.coming-soon {
    font-size: 1rem;
    color: var(--cocoa-brown);
    opacity: 0.7;
    font-weight: 400;
}




@media (max-width: 390px) {

    .lessons-container {
        display: flex;
        flex-direction: column;
        padding-top: 100px;
    }

    .header {
        text-align: center;
    }

    .header h1 {
        font-size: 2rem;
        color: var(--dark-blue);
    }
    .header p {
        font-size: 0.85rem;
        color: var(--sand-brown);
    }
}

